otherStuff/sourcesElmerIce/ElmerIceLGGE/UserFunctions/*.o
otherStuff/sourcesElmerIce/ElmerIceLGGE/lib/*.so
otherStuff/sourcesElmerIce/ElmerIceLGGE/tmp/*.so
otherStuff/sourcesElmerIce/ElmerIceLGGE/Solvers/*.o
